:root {
  --container-width: 300px;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  box-sizing: border-box;
  margin: 50px auto;
  width: var(--container-width);
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
}
.wynik {
  height: 50px;
  color: black;
  font-size: 1.3em;
  background-color: lightblue;
}
.buttons {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, calc(var(--container-width) - 91%));
  grid-template-rows: repeat(4, 50px);
  row-gap: 10px;
}
.buttons .btn {
  margin: 5px;
  font-size: 1.3em;
  background-color: rgb(248, 248, 9);
}
